@charset "UTF-8";
@font-face {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/RFDewi/RFDewiExpanded-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/RFDewi/RFDewiExpanded-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/RFDewi/RFDewiExpanded-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/RFDewi/RFDewiExpanded-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}
:root {
  --ffMain: "Roboto", sans-serif;
  --ffHeader: "RF Dewi Expanded", sans-serif;
  --tr: .3s;
  --radius: 16px;
}

:root {
  --white: #fff;
  --gray: rgba(255, 255, 255, .5);
  --main: #a8a5aa;
  --second: #747474;
  --accent: #399478;
  --accent-hover: #44BD99;
  --accent-active: #37866E;
  --accent2: #DC8B2D;
  --accent2-active: #C27B29;
  --outline: #C0C0C0;
  --bg-page: #000;
  --bg-block: #F8F8F8;
  --error: #E83D3D;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

:focus-visible {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=submit] {
  cursor: pointer;
}

button {
  background: none;
  cursor: pointer;
  transition: var(--tr);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  transition: var(--tr);
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
  list-style-position: inside;
}

ol li {
  list-style-position: inside;
}

img, svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.swiper {
  position: relative;
  width: 100%;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.swiper-button-disabled {
  opacity: 0.4;
}

body {
  font-family: var(--ffMain);
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  background: var(--bg-page);
}
body._lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1172px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
@media (max-width: 1171px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 720px;
  }
}

.section {
  margin: 62px 0;
}
@media (max-width: 767px) {
  .section {
    margin: 40px 0;
  }
}
@media (max-width: 374px) {
  .section {
    margin: 30px 0;
  }
}

/* Стили анимации пульсации кругов */
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
/* Стили кроссбраузерной анимации пульсации кругов */
@-webkit-keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
/* Стили анимации блика для кнопок */
@keyframes sheens {
  0%, 79% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  80% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  95% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateZ(60deg) translate(1em, -11em);
    transform: rotateZ(60deg) translate(1em, -11em);
  }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
/* Стили кроссбраузерной анимации блика для кнопок */
@-webkit-keyframes sheens {
  0%, 79% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  80% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  95% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateZ(60deg) translate(1em, -11em);
    transform: rotateZ(60deg) translate(1em, -11em);
  }
  to {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
/* Стили анимации полоски в квизе */
@keyframes moveIt {
  from {
    background-position: 0 center;
  }
  to {
    background-position: 48px center;
  }
}
/* Стили кроссбраузерной анимации полоски в квизе */
@-webkit-keyframes moveIt {
  from {
    background-position: 0 center;
  }
  to {
    background-position: 48px center;
  }
}
@keyframes showElem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sendPreloader {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*
* Пример использования компонента кнопки
* <button class="btn btn_primary">Акцентная кнопка</button>
* <button class="btn btn_second btn_icon">Кнопка с иконкой вторичного цвета</button>
* <button class="btn btn_primary btn_icon btn_icon-arrow btn_icon-left">Кнопка с иконкой с левой стороны акцентного цвета</button>
*/
:root {
  --btn-primary-default: #467EF3;
  --btn-primary-pressed: #3865C2;
  --btn-primary-disabled: #B5CBFA;
  --btn-second-default: #D1DFFC;
  --btn-second-pressed: #BDC9E3;
  --btn-second-disabled: #99B8F8;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 27px;
  font-size: 17px;
  letter-spacing: 0.26em;
  text-transform: uppercase;
  transition: var(--tr);
}
.btn:hover {
  opacity: 0.61;
}
@media (max-width: 767px) {
  .btn {
    padding: 17px;
    font-size: 11px;
  }
}

.btn_primary {
  color: black;
  background: var(--white);
}

.btn_second {
  color: #467EF3;
  background: var(--btn-second-default);
}
@media (min-width: 769px) {
  .btn_second:hover {
    box-shadow: 0px 5px 20px rgba(70, 126, 243, 0.5);
  }
}
.btn_second:active {
  background: var(--btn-second-pressed);
}

.btn_linear {
  padding: 5px;
}
@media (min-width: 769px) {
  .btn_linear:hover {
    color: var(--btn-primary-pressed);
  }
}
.btn_linear:active {
  color: var(--btn-primary-pressed);
}

.btn_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.btn_icon svg {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.btn_icon-left svg {
  margin-left: 0;
  margin-right: 12px;
}

.btn_center {
  justify-content: center;
}

@media (min-width: 769px) {
  .link:hover {
    color: var(--accent-hover);
  }
}
.link:active {
  color: var(--accent-active);
}

.choice-chips {
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  color: var(--main);
  padding: 12px 24px;
  background: #F8F8F8;
  border-radius: 100px;
}
@media (min-width: 769px) {
  .choice-chips:hover {
    color: var(--accent);
    background: #EFF7F5;
  }
}
.choice-chips:active {
  color: #fff;
  background: var(--accent);
}
.choice-chips._active {
  color: #fff;
  background: var(--accent);
}

.choice-chips_disabled {
  color: var(--second);
  background: #F8F8F8;
  pointer-events: none;
}

.slider-arrow {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
  border-radius: 50%;
}
@media (min-width: 769px) {
  .slider-arrow:hover {
    background: var(--accent-hover);
  }
}
.slider-arrow:active {
  background: var(--accent-active);
}
.slider-arrow.swiper-button-disabled {
  background: #F8F8F8;
}
.slider-arrow.swiper-button-disabled svg path {
  fill: var(--second);
}
.slider-arrow svg {
  width: 24px;
  height: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-elem {
  position: relative;
  width: 100%;
}
.form-elem:not(:first-child) {
  margin: 8px 0 0 0;
}

.form-elem input {
  height: 60px;
}

.form-elem textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 164px;
  transition: 0s;
}

.form-elem__area {
  width: 100%;
  background: #F9F9F9;
  border-radius: 8px;
  padding: 30px 12px 12px 12px;
  transition: var(--tr);
}
.form-elem__area:hover {
  background: #F4F4F4;
}
.form-elem__area:focus + .form-elem__label {
  font-size: 10px;
  color: var(--second);
  transform: translate(0, calc(-50% - 9px));
}
.form-elem__area:not(:placeholder-shown).form-elem__area:not(:focus) + .form-elem__label {
  font-size: 10px;
  color: var(--second);
  transform: translate(0, calc(-50% - 9px));
}
.form-elem__area._error {
  border: 1px solid var(--error) !important;
}
.form-elem__area._error + .form-elem__label::after {
  opacity: 1;
}

.form-elem__label {
  position: absolute;
  top: 30px;
  left: 12px;
  width: 100%;
  transform: translate(0, -50%);
  font-size: 14px;
  font-weight: 400;
  pointer-events: none;
  transition: var(--tr);
}
.form-elem__label::after {
  content: "Error";
  font-size: inherit;
  color: var(--error);
  margin: 0 0 0 6px;
  opacity: 0;
}

.form-elem__required {
  position: absolute;
  top: 50%;
  right: 12px;
  display: block;
  transform: translate(0, -50%);
  font-size: 14px;
  color: var(--main);
  pointer-events: none;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: var(--tr);
}
.modal._show {
  visibility: visible;
  opacity: 1;
  overflow-y: auto;
}
.modal._show .modal__body {
  transform: translate(0, 0);
}

.modal__body {
  min-height: 100%;
  transform: translate(0, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 16px;
  transition: var(--tr);
}
.modal__body h2 {
  margin: 0 0 8px 0;
}

.modal__content {
  position: relative;
  max-width: 540px;
  background: #fff;
  border-radius: var(--radius);
  padding: 40px 40px 32px 40px;
}

.modal__big-icon {
  width: 177px;
  height: 177px;
  margin: 40px auto 24px auto;
}

.modal__title {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}

.modal__form {
  margin: 32px 0 0 0;
}

.modal__attention {
  font-size: 14px;
  color: var(--second);
  line-height: 1.3;
  margin: 14px 0 0 0;
}

.modal__submit {
  margin: 15px 0 0 0;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}
.modal__close span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background: var(--main);
  border-radius: 100px;
}
.modal__close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.logo__img {
  width: 69px;
  height: 63px;
}
@media (max-width: 767px) {
  .logo__img {
    width: 39px;
    height: 36px;
  }
}

.scroll-down {
  position: absolute;
  bottom: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  min-height: 504px;
  border-left: 1px solid rgba(255, 255, 255, 0.18);
}

.scroll-down__mouse {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  padding: 5px 0;
  width: 23px;
  height: 40px;
  border: 2px solid var(--white);
  border-radius: 16px;
}

.scroll-down__wheel {
  width: 2px;
  height: 8px;
  background: var(--white);
}

.scroll-down__desc {
  font-family: var(--ffHeader);
  font-size: 14px;
  letter-spacing: 0.3em;
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.social__icon {
  width: auto;
  height: auto;
}

.social__link:hover {
  opacity: 0.61;
}

.main-bg {
  position: relative;
  margin-top: -155px;
}
.main-bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle at left top, #192630, transparent 50%), radial-gradient(circle at right center, #211427, transparent 50%), radial-gradient(circle at left bottom, #211427, transparent 50%), radial-gradient(circle at right bottom, #192630, transparent 50%);
  opacity: 0.74;
}
@media (max-width: 767px) {
  .main-bg {
    margin-top: -70px;
  }
}

.title {
  color: transparent;
  font-family: var(--ffHeader);
  letter-spacing: 0.3em;
  background-image: linear-gradient(125deg, #d8d8d9, #a8a5aa);
  background-clip: text;
  -webkit-background-clip: text;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 85px;
  padding-right: 70px;
}
@media (max-width: 1439px) {
  .header {
    padding: 46px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 17px 15px;
  }
}

.header__burger {
  display: inline-flex;
  align-items: center;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 0.24em;
  font-family: var(--ffHeader);
  font-weight: 300;
}
.header__burger:hover .header__burger-icon {
  opacity: 1;
}
@media (max-width: 1023px) {
  .header__burger {
    font-size: 0;
  }
}

.header__burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 35px;
  width: 47px;
  height: 27px;
  opacity: 0.14;
  transition: opacity 0.2s;
}
.header__burger-icon .header__burger-line, .header__burger-icon::before, .header__burger-icon::after {
  height: 2px;
  background: var(--white);
}
.header__burger-icon::before, .header__burger-icon::after {
  content: "";
  width: 47px;
}
.header__burger-icon .header__burger-line {
  width: 37px;
}
@media (max-width: 1023px) {
  .header__burger-icon {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .header__burger-icon {
    width: 39px;
    height: 21px;
  }
  .header__burger-icon::before, .header__burger-icon::after {
    content: "";
    width: 39px;
  }
  .header__burger-icon .header__burger-line {
    width: 31px;
  }
}

.header__logo {
  margin: 0 auto;
  transform: translateX(-95%);
}
@media (max-width: 1023px) {
  .header__logo {
    transform: unset;
  }
}

.header__lang {
  padding: 20px 16px;
  color: var(--white);
  font-size: 11px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  border: 1px solid var(--gray);
}
.header__lang:hover {
  opacity: 0.61;
}
@media (max-width: 1023px) {
  .header__lang {
    border: none;
  }
}
@media (max-width: 767px) {
  .header__lang {
    padding: 10px;
  }
}

.footer {
  margin: auto 0 0 0;
}

.hero {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-top: 165px;
}
@media (max-width: 767px) {
  .hero {
    padding-top: 105px;
  }
}

.hero__inner {
  flex-grow: 1;
}

.hero__content {
  text-align: center;
  margin-bottom: 92px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .hero__content {
    margin-bottom: 60px;
  }
}

.hero__subtitle {
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 27px;
}
@media (max-width: 1023px) {
  .hero__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .hero__subtitle {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 11px;
  }
}

.hero__title {
  font-size: 204px;
  line-height: 180px;
}
@media (max-width: 1439px) {
  .hero__title {
    font-size: 10.625vw;
  }
}
@media (max-width: 1023px) {
  .hero__title {
    font-size: 49px;
    line-height: 43px;
  }
}

.hero__img {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero__wing {
  position: absolute;
  top: -19%;
  left: 50%;
  z-index: -1;
  width: 71.875vw;
  padding-top: 88.84057%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .hero__wing {
    top: -16%;
    width: 150vw;
  }
}

.hero__wing-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.hero__wing-left-picture-img {
  width: 100%;
  height: auto;
}

.hero__wing-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.hero__wing-right-picture-img {
  width: 100%;
  height: auto;
}

.hero__picture-img {
  position: relative;
  width: 11.6666666667vw;
  height: auto;
}
@media (max-width: 767px) {
  .hero__picture-img {
    width: 25vw;
  }
}

.hero__scroll-down {
  position: sticky;
  top: 850px;
  left: 90px;
}
@media (max-width: 1439px) {
  .hero__scroll-down {
    display: none;
  }
}

.hero__social {
  position: absolute;
  bottom: 90px;
  right: 70px;
}
@media (max-width: 1023px) {
  .hero__social {
    display: none;
  }
}

.has-water {
  padding-top: 505px;
  padding-bottom: 30%;
}
@media (max-width: 1439px) {
  .has-water {
    padding-top: 255px;
  }
}
@media (max-width: 1023px) {
  .has-water {
    padding-top: 155px;
    padding-bottom: 155px;
  }
}
@media (max-width: 767px) {
  .has-water {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.has-water__inner {
  position: relative;
  margin-left: auto;
  width: 50%;
}
@media (max-width: 1023px) {
  .has-water__inner {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .has-water__top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 80px;
  }
}
@media (max-width: 424px) {
  .has-water__top {
    grid-template-columns: 1.3fr 1fr;
    gap: 30px;
  }
}

.has-water__title {
  margin-right: -90px;
  margin-bottom: 55px;
  font-size: 72px;
  line-height: 62px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
@media (max-width: 1919px) {
  .has-water__title {
    margin-right: 0;
  }
}
@media (max-width: 1023px) {
  .has-water__title {
    font-size: 5.2083333333vw;
  }
}
@media (max-width: 767px) {
  .has-water__title {
    margin: 0;
  }
}
@media (max-width: 424px) {
  .has-water__title {
    font-size: 23px;
    line-height: 35px;
  }
}

.has-water__picture-img {
  position: absolute;
  top: 50%;
  right: 100%;
  z-index: -1;
  width: 28.2291666667vw;
  height: auto;
  transform: translate(-140px, -47%);
}
@media (max-width: 1023px) {
  .has-water__picture-img {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    width: auto;
    max-width: 100%;
    transform: unset;
  }
}

.has-water__bottom {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 767px) {
  .has-water__bottom {
    margin-top: -25px;
  }
}

.has-water__desc {
  color: var(--gray);
  font-size: 20px;
  line-height: 53px;
}
@media (max-width: 1023px) {
  .has-water__desc {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .has-water__desc {
    font-size: 16px;
    line-height: 27px;
  }
}
@media (max-width: 424px) {
  .has-water__desc {
    font-size: 11px;
    line-height: 27px;
  }
}

.has-water__more {
  margin-top: 40px;
  width: 100%;
  max-width: 366px;
}
@media (max-width: 1023px) {
  .has-water__more {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .has-water__more {
    max-width: 195px;
    margin-top: 26px;
  }
}

.main-slider {
  overflow: hidden;
  height: 931px;
}
@media (max-width: 1023px) {
  .main-slider {
    height: auto;
  }
}

.main-slider__item {
  position: relative;
  padding: 155px 0;
  min-height: 931px;
}
@media (max-width: 1023px) {
  .main-slider__item {
    padding: 100px 0;
    min-height: 630px;
  }
}
@media (max-width: 767px) {
  .main-slider__item {
    padding: 0;
    min-height: unset;
    background: #2b2b2a;
  }
}

.main-slider__item_shadow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: radial-gradient(circle at 80% center, transparent, rgba(0, 0, 0, 0.8));
}
@media (max-width: 767px) {
  .main-slider__item_shadow::before {
    content: none;
  }
}

.main-slider__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .main-slider__img {
    position: relative;
    min-height: 280px;
    object-position: right;
  }
}

.main-slider__content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 556px;
}
@media (max-width: 1023px) {
  .main-slider__content {
    max-width: none;
  }
}
@media (max-width: 767px) {
  .main-slider__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.main-slider__title {
  margin-bottom: 32px;
  font-family: var(--ffHeader);
  font-size: 62px;
  line-height: 85px;
}
@media (max-width: 767px) {
  .main-slider__title {
    font-size: 31px;
    line-height: 42px;
  }
}

.main-slider__title-lg {
  font-family: var(--ffHeader);
  font-size: 156px;
  line-height: 220px;
}
@media (max-width: 1023px) {
  .main-slider__title-lg {
    align-self: center;
    text-align: center;
    font-size: 68px;
    line-height: 98px;
  }
}

.main-slider__desc {
  font-size: 20px;
  line-height: 62px;
  opacity: 0.61;
}
@media (max-width: 767px) {
  .main-slider__desc {
    font-size: 12px;
    line-height: 33px;
  }
}

.main-slider__desc_light {
  opacity: 1;
}
@media (max-width: 1023px) {
  .main-slider__desc_light {
    align-self: center;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main-slider__desc_light {
    text-align: center;
    opacity: 0.61;
  }
}

.main-slider__more {
  margin-top: 40px;
  min-width: 400px;
}
@media (max-width: 1023px) {
  .main-slider__more {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .main-slider__more {
    min-width: 195px;
  }
}

.main-slider__pagination {
  position: absolute;
  top: 50%;
  right: 130px;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-slider__pagination .swiper-pagination-bullet {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  opacity: 0.68;
  transition: opacity 0.2s;
  cursor: pointer;
}
.main-slider__pagination .swiper-pagination-bullet:hover {
  opacity: 1;
}
.main-slider__pagination .swiper-pagination-bullet::before {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--white);
  transition: transform 0.2s;
}
.main-slider__pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--white);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s, opacity 0.2s;
}
.main-slider__pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-top: 15px;
}
.main-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
.main-slider__pagination .swiper-pagination-bullet-active::before {
  transform: scale(1.5);
}
.main-slider__pagination .swiper-pagination-bullet-active::after {
  transform: scale(1);
  opacity: 0.68;
}
@media (max-width: 1023px) {
  .main-slider__pagination {
    display: none;
  }
}

.features {
  position: relative;
  padding-top: 220px;
  padding-bottom: 220px;
  background-image: url(../img/features/bubble-left.png), url(../img/features/bubble-right.png);
  background-repeat: no-repeat;
  background-position: left bottom 525px, right bottom 185px;
}
.features::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at left top, #211427, transparent 50%), radial-gradient(circle at right bottom, #192630, transparent 50%);
}
@media (max-width: 1023px) {
  .features {
    padding-top: 124px;
    padding-bottom: 124px;
  }
}
@media (max-width: 767px) {
  .features {
    padding-top: 64px;
    padding-bottom: 64px;
    background-image: url(../img/features/bubble-mobile-left.png) url(../img/features/bubble-mobile-right.png);
    background-position: left top -400px, right bottom;
  }
}

.features__inner {
  position: relative;
  overflow: hidden;
}

.features__title {
  margin-bottom: 48px;
  font-family: var(--ffHeader);
  font-size: 51px;
  line-height: 45px;
  text-align: center;
}
@media (max-width: 767px) {
  .features__title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 36px;
  }
}

.features__desc {
  margin: 0 auto;
  max-width: 590px;
  font-size: 22px;
  line-height: 41px;
  text-align: center;
  opacity: 0.46;
}
@media (max-width: 767px) {
  .features__desc {
    font-size: 11px;
    line-height: 21px;
  }
}

.features__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 96px;
  margin-right: -105px;
  margin-bottom: -120px;
  background-image: linear-gradient(125deg, #d8d8d9, #a8a5aa);
  background-clip: text;
  -webkit-background-clip: text;
  list-style-type: none;
  counter-reset: features;
}
@media (max-width: 767px) {
  .features__list {
    margin-bottom: -40px;
    margin-right: -40px;
    margin-top: 40px;
  }
}

.features__item {
  display: grid;
  justify-items: center;
  align-content: start;
  gap: 40px;
  padding-right: 105px;
  padding-bottom: 120px;
  width: 25%;
  color: transparent;
  text-align: center;
  font-size: 18px;
  line-height: 41px;
  counter-increment: features;
}
.features__item::before {
  content: counter(features);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 138px;
  color: var(--white);
  font-family: var(--ffHeader);
  font-size: 72px;
  line-height: 81px;
  border: 2px solid var(--white);
}
@media (max-width: 1439px) {
  .features__item {
    width: 33.33333%;
  }
}
@media (max-width: 1023px) {
  .features__item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .features__item {
    gap: 20px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-size: 11px;
    line-height: 24px;
  }
  .features__item::before {
    width: 82px;
    height: 82px;
    font-size: 42px;
  }
}

.hydrogen {
  position: relative;
  padding-top: 265px;
  padding-bottom: 355px;
  background-image: url(../img/hydrogen/hydrogen.png);
  background-repeat: no-repeat;
  background-position: right bottom 122px;
}
.hydrogen::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at left bottom, #211427, transparent 50%), radial-gradient(circle at right center, #080b09, transparent 50%);
}
@media (max-width: 1919px) {
  .hydrogen {
    background-position: right -200px bottom 35px;
  }
}
@media (max-width: 1439px) {
  .hydrogen {
    background-position: right -500px bottom 190px;
  }
}
@media (max-width: 1023px) {
  .hydrogen {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/hydrogen/hydrogen-mobile.png);
    background-position: right bottom -120px;
  }
}
@media (max-width: 767px) {
  .hydrogen {
    padding-top: 58px;
  }
}

.hydrogen__content {
  position: relative;
  z-index: 1;
  max-width: 645px;
}
@media (max-width: 1023px) {
  .hydrogen__content {
    max-width: unset;
  }
}

.hydrogen__title {
  margin-bottom: 32px;
  font-family: var(--ffHeader);
  font-weight: 600;
  font-size: 86px;
  line-height: 135px;
}
@media (max-width: 1023px) {
  .hydrogen__title {
    font-size: 62px;
    line-height: 85px;
  }
}
@media (max-width: 767px) {
  .hydrogen__title {
    margin-bottom: 16px;
    font-size: 39px;
    line-height: 62px;
  }
}

.hydrogen__title-mark {
  display: block;
  color: #292929;
}

.hydrogen__paragraph {
  font-size: 21px;
  line-height: 51px;
  opacity: 0.5;
}
.hydrogen__paragraph + .hydrogen__paragraph {
  margin-top: 52px;
}
@media (max-width: 767px) {
  .hydrogen__paragraph {
    font-size: 10px;
    line-height: 23px;
  }
  .hydrogen__paragraph + .hydrogen__paragraph {
    margin-top: 22px;
  }
}

.quality {
  position: relative;
}
@media (max-width: 767px) {
  .quality {
    background: #2b2b2a;
  }
}

.quality__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.quality__bg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .quality__bg {
    position: static;
  }
}

.quality__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
@media (max-width: 767px) {
  .quality__bg-img {
    min-height: 230px;
    object-position: left top;
  }
}

.quality__content {
  position: relative;
  margin-left: auto;
  padding-top: 132px;
  padding-bottom: 168px;
  max-width: 580px;
}
@media (max-width: 1023px) {
  .quality__content {
    max-width: unset;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .quality__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.quality__title {
  margin-bottom: 20px;
  color: var(--white);
  font-family: var(--ffHeader);
  font-size: 84px;
  line-height: 131px;
}
@media (max-width: 767px) {
  .quality__title {
    margin-bottom: 24px;
    font-size: 43px;
    line-height: 60px;
  }
}

.quality__paragraph {
  color: var(--white);
  font-size: 20px;
  line-height: 50px;
}
.quality__paragraph + .quality__paragraph {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .quality__paragraph {
    font-size: 10px;
    line-height: 25px;
  }
  .quality__paragraph + .quality__paragraph {
    margin-top: 30px;
  }
}

.quality__more {
  margin-top: 50px;
  min-width: 400px;
}
@media (max-width: 767px) {
  .quality__more {
    margin-top: 26px;
    min-width: 207px;
  }
}

.how-works {
  position: relative;
  padding-top: 164px;
  padding-bottom: 270px;
}
.how-works::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at left center, #192630, transparent 50%), radial-gradient(circle at right bottom, #211427, transparent 50%);
}
@media (max-width: 1023px) {
  .how-works::before {
    background-image: radial-gradient(circle at left top, #192630, transparent 20%), radial-gradient(circle at right center, #211427, transparent 20%), radial-gradient(circle at left bottom, #192630, transparent 20%), radial-gradient(circle at right bottom, #211427, transparent 20%);
  }
}
@media (max-width: 767px) {
  .how-works {
    padding-top: 62px;
    padding-bottom: 120px;
  }
}

.how-works__content {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.how-works__title {
  margin-bottom: 87px;
  color: var(--white);
  font-family: var(--ffHeader);
  font-weight: 600;
  font-size: 65px;
  line-height: 148px;
  text-align: center;
}
@media (max-width: 767px) {
  .how-works__title {
    margin-bottom: 28px;
    font-size: 27px;
    line-height: 64px;
  }
}

.how-works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -32px;
  margin-bottom: -48px;
  list-style-type: none;
}
@media (max-width: 767px) {
  .how-works__list {
    margin-right: 0;
  }
}

.how-works__item {
  position: relative;
  margin-right: 32px;
  margin-bottom: 48px;
  padding: 256px 5px 20px 37px;
  width: calc(33.33333% - 32px);
  max-width: 380px;
  min-height: 590px;
}
@media (max-width: 1023px) {
  .how-works__item {
    width: calc(50% - 32px);
  }
}
@media (max-width: 767px) {
  .how-works__item {
    margin-right: 0;
    margin-left: auto;
    padding: 209px 5px 20px 27px;
    width: 100%;
    min-height: 480px;
  }
  .how-works__item:nth-child(odd) {
    margin-right: auto;
    margin-left: 0;
  }
}
@media (max-width: 424px) {
  .how-works__item {
    max-width: unset;
  }
}

.how-works__item-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.how-works__item-bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, #000000);
  opacity: 0.4;
}

.how-works__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.how-works__item-title {
  color: var(--white);
  font-family: var(--ffHeader);
  font-weight: 300;
  font-size: 88px;
}
@media (max-width: 767px) {
  .how-works__item-title {
    font-size: 71px;
    line-height: 100px;
  }
}

.how-works__item-desc {
  font-size: 14px;
  line-height: 36px;
  opacity: 0.79;
}
@media (max-width: 767px) {
  .how-works__item-desc {
    font-size: 11px;
    line-height: 28px;
  }
}

.has-food {
  position: relative;
  padding-top: 150px;
  padding-bottom: 290px;
}
@media (max-width: 767px) {
  .has-food {
    padding: 0;
  }
}

.has-food__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.has-food__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at right center, transparent 15%, #000000);
  opacity: 0.8;
}
@media (max-width: 1023px) {
  .has-food__bg::before {
    background: #000000;
    opacity: 0.6;
  }
}
@media (max-width: 767px) {
  .has-food__bg {
    position: static;
  }
  .has-food__bg::before {
    content: unset;
  }
}

.has-food__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .has-food__bg-img {
    min-height: 386px;
    object-position: right;
  }
}

.has-food__content {
  position: relative;
  max-width: 680px;
}
@media (max-width: 1023px) {
  .has-food__content {
    max-width: unset;
  }
}
@media (max-width: 767px) {
  .has-food__content {
    padding-top: 30px;
    padding-bottom: 82px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .has-food__content-bg {
    background-image: radial-gradient(circle at left top, #192630, transparent 50%), radial-gradient(circle at right center, #211427, transparent 50%), radial-gradient(circle at left bottom, #211427, transparent 50%), radial-gradient(circle at right bottom, #192630, transparent 50%);
  }
}

.has-food__title {
  margin-bottom: 22px;
  font-family: var(--ffHeader);
  color: var(--white);
  font-size: 107px;
  line-height: 166px;
}
@media (max-width: 767px) {
  .has-food__title {
    font-size: 46px;
    line-height: 72px;
  }
}

.has-food__desc {
  column-count: 2;
  column-gap: 90px;
}
@media (max-width: 767px) {
  .has-food__desc {
    columns: unset;
  }
}

.has-food__paragraph {
  font-size: 16px;
  line-height: 30px;
}
.has-food__paragraph + .has-food__paragraph {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .has-food__paragraph {
    font-size: 15px;
    line-height: 29px;
  }
}

.main-final {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 924px;
  background-image: url(../img/main-final.jpg);
  background-size: cover;
}
@media (max-width: 767px) {
  .main-final {
    padding-top: 44%;
    padding-bottom: 24%;
    min-height: unset;
  }
}

.main-final__title {
  margin-top: -70px;
  color: transparent;
  text-align: center;
  vertical-align: middle;
  font-family: var(--ffHeader);
  font-weight: 700;
  font-size: 103px;
  line-height: 142px;
  background-image: linear-gradient(125deg, #d8d8d9, #a8a5aa);
  background-clip: text;
  -webkit-background-clip: text;
}
@media (max-width: 1919px) {
  .main-final__title {
    font-size: 5.3645833333vw;
    line-height: normal;
  }
}
@media (max-width: 767px) {
  .main-final__title {
    font-size: 26px;
    line-height: 36px;
  }
}

.plug {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  height: 100vh;
  overflow: hidden;
}

.plug__content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.plug__logo {
  display: inline-block;
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .plug__logo {
    margin-bottom: 45px;
    width: 39px;
    height: 36px;
  }
}

.plug__subtitle {
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 26px;
  letter-spacing: 0.3em;
  color: transparent;
  text-align: center;
  background-image: linear-gradient(125deg, #d8d8d9, #a8a5aa);
  background-clip: text;
  -webkit-background-clip: text;
}
@media (max-width: 1171px) {
  .plug__subtitle {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .plug__subtitle {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 12px;
  }
}

.plug__title {
  margin-bottom: 40px;
  font-size: 88px;
  line-height: 78px;
  letter-spacing: 0.3em;
  color: transparent;
  text-align: center;
  background-image: linear-gradient(125deg, #d8d8d9, #a8a5aa);
  background-clip: text;
  -webkit-background-clip: text;
}
@media (max-width: 1171px) {
  .plug__title {
    font-size: 56px;
    line-height: 56px;
  }
}
@media (max-width: 767px) {
  .plug__title {
    font-size: 28px;
    line-height: 28px;
  }
}
@media (max-width: 374px) {
  .plug__title {
    font-size: 22px;
    line-height: 22px;
  }
}

.plug__pictures {
  position: relative;
  margin-top: auto;
  text-align: center;
}

.plug__wing {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.plug__wing-left {
  position: absolute;
  left: 0;
  right: 50%;
  height: 100%;
}

.plug__wing-left-picture-img {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: auto;
  height: auto;
  animation: wing-left 1s 0.8s both;
}
@media (max-width: 767px) {
  .plug__wing-left-picture-img {
    bottom: 40%;
    width: 150%;
  }
}

.plug__wing-right {
  position: absolute;
  left: 50%;
  right: 0;
  height: 100%;
}

.plug__wing-right-picture-img {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: auto;
  height: auto;
  animation: wing-right 1s 0.8s both;
}
@media (max-width: 767px) {
  .plug__wing-right-picture-img {
    bottom: 40%;
    width: 150%;
  }
}

.plug__picture {
  position: relative;
}

.plug__picture-img {
  position: relative;
  z-index: 1;
  width: auto;
  height: auto;
  transform: translateX(15px);
}
@media (max-width: 1023px) {
  .plug__picture-img {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .plug__picture-img {
    transform: unset;
  }
}

.plug__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.74;
}
.plug__bg::before, .plug__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.plug__bg::before {
  background-image: radial-gradient(circle at left center, #192630, transparent 50%);
  animation: blink 4s alternate infinite;
}
.plug__bg::after {
  background-image: radial-gradient(circle at right bottom, #211427, transparent 50%);
  animation: blink-reverse 4s alternate infinite;
}
@media (max-width: 1023px) {
  .plug__bg {
    background-image: radial-gradient(circle at left top, #192630, transparent 50%), radial-gradient(circle at right bottom, #211427, transparent 65%);
  }
}

@keyframes wing-left {
  from {
    transform: rotate(-60deg) translateY(30%);
    opacity: 0;
  }
  to {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}
@keyframes wing-right {
  from {
    transform: rotate(60deg) translateY(30%);
    opacity: 0;
  }
  to {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}
@keyframes blink {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink-reverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}/*# sourceMappingURL=style.css.map */