.container {
    max-width: $container;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;

    @media (max-width: $laptop-m) {
        max-width: 960px;
    }

    @media (max-width: $laptop) {
        max-width: 720px;
    }
}


.section {
    margin: 62px 0;

    @media (max-width: $tablet) {
        margin: 40px 0;
    }

    @media (max-width: $mobile-m) {
        margin: 30px 0;
    }
}