// Пользовательские переменные
:root {
    --ffMain: 'Roboto', sans-serif;
    --ffHeader: 'RF Dewi Expanded', sans-serif;
    --tr: .3s;  // Плавность перехода
    --radius: 16px; // border-radius
}

$ffMain: var(--ffMain);
$ffHeader: var(--ffHeader);
$tr: var(--tr);
$minHover: 769px; // Минимальное разрешения экрана для hover-эффекта
$container: 1172px;
$radius: var(--radius);

$laptop-l: 1439px;
$laptop-m: 1171px;
$laptop: 1023px;
$tablet: 767px;
$mobile-l: 424px;
$mobile-m: 374px;
$mobile-s: 319px;

// Цвета
:root {
    --white: #fff;
    --gray: rgba(255, 255, 255, .5);
    --main: #a8a5aa;
    --second: #747474;
    --accent: #399478;
    --accent-hover: #44BD99;
    --accent-active: #37866E;
    --accent2: #DC8B2D;
    --accent2-active: #C27B29;
    --outline: #C0C0C0;
    --bg-page: #000;
    --bg-block: #F8F8F8;
    --error: #E83D3D;
}

$white: var(--white);
$gray: var(--gray);
$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$accent-active: var(--accent-active);
$accent2: var(--accent2);
$accent2-active: var(--accent2-active);
$outline: var(--outline);
$bg-page: var(--bg-page);
$bg-block: var(--bg-block);
$error: var(--error);