.title {
    color: transparent;
    font-family: $ffHeader;
    letter-spacing: 0.3em;
    background-image: linear-gradient(125deg, #d8d8d9, #a8a5aa);
    background-clip: text;
    -webkit-background-clip: text;
}