.main-bg {
    position: relative;
    margin-top: -155px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: 
            radial-gradient(circle at left top, #192630, transparent 50%),
            radial-gradient(circle at right center, #211427, transparent 50%),
            radial-gradient(circle at left bottom, #211427, transparent 50%),
            radial-gradient(circle at right bottom, #192630, transparent 50%);
        opacity: .74;
    }

    @media (max-width: $tablet) {
        margin-top: -70px;
    }
}