.features {
    position: relative;
    padding-top: 220px;
    padding-bottom: 220px;
    background-image: 
        url(../img/features/bubble-left.png),
        url(../img/features/bubble-right.png);
    background-repeat: no-repeat;
    background-position: left bottom 525px, right bottom 185px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: 
            radial-gradient(circle at left top, #211427, transparent 50%),
            radial-gradient(circle at right bottom, #192630, transparent 50%);
    }

    @media (max-width: $laptop) {
        padding-top: 124px;
        padding-bottom: 124px;
    }

    @media (max-width: $tablet) {
        padding-top: 64px;
        padding-bottom: 64px;
        background-image: 
            url(../img/features/bubble-mobile-left.png),
            url(../img/features/bubble-mobile-right.png);
        background-position: left top -400px, right bottom;
    }
}

.features__inner {
    position: relative;
    overflow: hidden;
}

.features__title {
    margin-bottom: 48px;
    font-family: $ffHeader;
    font-size: 51px;
    line-height: 45px;
    text-align: center;

    @media (max-width: $tablet) {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 36px;
    }
}

.features__desc {
    margin: 0 auto;
    max-width: 590px;
    font-size: 22px;
    line-height: 41px;
    text-align: center;
    opacity: .46;

    @media (max-width: $tablet) {
        font-size: 11px;
        line-height: 21px;
    }
}

.features__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 96px;
    margin-right: -105px;
    margin-bottom: -120px;
    background-image: linear-gradient(125deg, #d8d8d9, #a8a5aa);
    background-clip: text;
    -webkit-background-clip: text;
    list-style-type: none;
    counter-reset: features;

    @media (max-width: $tablet) {
        margin-bottom: -40px;
        margin-right: -40px;
        margin-top: 40px;
        background: none;
    }
}

.features__item {
    display: grid;
    justify-items: center;
    align-content: start;
    gap: 40px;
    padding-right: 105px;
    padding-bottom: 120px;
    width: 25%;
    color: transparent;
    text-align: center;
    font-size: 18px;
    line-height: 41px;
    counter-increment: features;

    &::before {
        content: counter(features);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 138px;
        height: 138px;
        color: $white;
        font-family: $ffHeader;
        font-size: 72px;
        line-height: 81px;
        border: 2px solid $white;
    }

    @media (max-width: $laptop-l) {
        width: 33.33333%;
    }

    @media (max-width: $laptop) {
        width: 50%;
    }

    @media (max-width: $tablet) {
        gap: 20px;
        padding-right: 40px;
        padding-bottom: 40px;
        color: $white;
        font-size: 11px;
        line-height: 24px;
        opacity: .46;

        &::before {
            width: 82px;
            height: 82px;
            font-size: 42px;
        }
    }
}

.features__item-desc {
    margin: 0 -30px;

    @media (max-width: $laptop-l) {
        margin: 0;
    }

    @media (max-width: $tablet) {
        margin: 0 -30px 0 -10px;
    }
}

.features__item-desc_last {
    margin: 0;

    @media (max-width: $tablet) {
        margin: 0 -25px 0 -15px;
    }
}