.header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 85px;
    padding-right: 70px;

    @media (max-width: $laptop-l) {
        padding: 46px;
    }

    @media (max-width: $tablet) {
        padding: 17px 15px;
    }
}

.header__burger {
    display: inline-flex;
    align-items: center;
    color: $white;
    font-size: 20px;
    letter-spacing: .24em;
    font-family: $ffHeader;
    font-weight: 300;

    &:hover {
        .header__burger-icon {
            opacity: 1;
        }
    }

    @media (max-width: $laptop) {
        font-size: 0;
    }
}

.header__burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 35px;
    width: 47px;
    height: 27px;
    opacity: .14;
    transition: opacity .2s;

    .header__burger-line,
    &::before,
    &::after {
        height: 2px;
        background: $white;
    }

    &::before,
    &::after {
        content: '';
        width: 47px;
    }

    .header__burger-line {
        width: 37px;
    }

    @media (max-width: $laptop) {
        margin: 0;
    }

    @media (max-width: $tablet) {
        width: 39px;
        height: 21px;
        
        &::before,
        &::after {
            content: '';
            width: 39px;
        }
    
        .header__burger-line {
            width: 31px;
        }
    }
}

.header__logo {
    margin: 0 auto;
    transform: translateX(-95%);

    @media (max-width: $laptop) {
        transform: unset;
    }
}

.header__lang {
    padding: 20px 16px;
    color: $white;
    font-size: 11px;
    letter-spacing: .3em;
    text-transform: uppercase;
    border: 1px solid $gray;

    &:hover {
        opacity: .61;
    }

    @media (max-width: $laptop) {
        border: none;
    }
    
    @media (max-width: $tablet) {
        padding: 10px;
    }
}