.how-works {
    position: relative;
    padding-top: 164px;
    padding-bottom: 270px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image:
            radial-gradient(circle at left center, #192630, transparent 50%),
            radial-gradient(circle at right bottom, #211427, transparent 50%);
    }

    @media (max-width: $laptop) {
        &::before {
            background-image:
                radial-gradient(circle at left top, #192630, transparent 20%),
                radial-gradient(circle at right center, #211427, transparent 20%),
                radial-gradient(circle at left bottom, #192630, transparent 20%),
                radial-gradient(circle at right bottom, #211427, transparent 20%);
        }
    }

    @media (max-width: $tablet) {
        padding-top: 62px;
        padding-bottom: 120px;
    }
}

.how-works__content {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.how-works__title {
    margin-bottom: 87px;
    color: $white;
    font-family: $ffHeader;
    font-weight: 600;
    font-size: 65px;
    line-height: 148px;
    text-align: center;

    @media (max-width: $tablet) {
        margin-bottom: 28px;
        font-size: 27px;
        line-height: 64px;
    }
}

.how-works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -32px;
    margin-bottom: -48px;
    list-style-type: none;

    @media (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
}

.how-works__item {
    position: relative;
    margin-right: 32px;
    margin-bottom: 48px;
    padding: 256px 5px 20px 30px;
    width: calc(33.33333% - 32px);
    max-width: 380px;
    min-height: 590px;

    @media (max-width: $laptop) {
        width: calc(50% - 32px);
    }

    @media (max-width: $tablet) {
        margin-right: 0;
        padding: 209px 5px 20px 27px;
        width: 100%;
        max-width: 290px;
        min-height: 480px;
    }

    @media (max-width: $mobile-l) {
        max-width: unset;
    }
}

.how-works__item-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(transparent, #000000);
        opacity: .4;
    }
}

.how-works__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.how-works__item-title {
    color: $white;
    font-family: $ffHeader;
    font-weight: 300;
    font-size: 88px;
    line-height: 119px;

    @media (max-width: $tablet) {
        font-size: 71px;
        line-height: 100px;
    }
}

.how-works__item-desc {
    font-size: 14px;
    line-height: 36px;
    opacity: .79;

    @media (max-width: $tablet) {
        font-size: 11px;
        line-height: 28px;
    }
}