.plug {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    height: 100vh;
    overflow: hidden;
}

.plug__content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.plug__logo {
    display: inline-block;
    margin-bottom: 90px;

    @media (max-width: $tablet) {
        margin-bottom: 45px;
        width: 39px;
        height: 36px;
    }
}

.plug__subtitle {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: 0.3em;
    color: transparent;
    text-align: center;
    background-image: linear-gradient(125deg, #d8d8d9, #a8a5aa);
    background-clip: text;
    -webkit-background-clip: text;

    @media (max-width: $laptop-m) {
        font-size: 26px;
    }

    @media (max-width: $tablet) {
        margin-bottom: 40px;
        font-size: 12px;
        line-height: 12px;
    }
}

.plug__title {
    margin-bottom: 40px;
    font-size: 88px;
    line-height: 78px;
    letter-spacing: 0.3em;
    color: transparent;
    text-align: center;
    background-image: linear-gradient(125deg, #d8d8d9, #a8a5aa);
    background-clip: text;
    -webkit-background-clip: text;

    @media (max-width: $laptop-m) {
        font-size: 56px;
        line-height: 56px;
    }

    @media (max-width: $tablet) {
        font-size: 28px;
        line-height: 28px;
    }

    @media (max-width: $mobile-m) {
        font-size: 22px;
        line-height: 22px;
    }
}

.plug__pictures {
    position: relative;
    margin-top: auto;
    text-align: center;
}

.plug__wing {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.plug__wing-left {
    position: absolute;
    left: 0;
    right: 50%;
    height: 100%;
}

.plug__wing-left-picture-img {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: auto;
    height: auto;
    animation: wing-left 1s .8s both;

    @media (max-width: $tablet) {
        bottom: 40%;
        width: 150%;
    }
}

.plug__wing-right {
    position: absolute;
    left: 50%;
    right: 0;
    height: 100%;
}

.plug__wing-right-picture-img {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: auto;
    height: auto;
    animation: wing-right 1s .8s both;

    @media (max-width: $tablet) {
        bottom: 40%;
        width: 150%;
    }
}

.plug__picture {
    position: relative;
}

.plug__picture-img {
    position: relative;
    z-index: 1;
    width: auto;
    height: auto;
    transform: translateX(15px);

    @media (max-width: $laptop) {
        width: 40%;
    }

    @media (max-width: $tablet) {
        transform: unset;
    }
}

.plug__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle at left center, #192630, transparent 50%),
        radial-gradient(circle at right bottom, #211427, transparent 50%);
    opacity: .74;

    @media (max-width: $laptop) {
        background-image:
            radial-gradient(circle at left top, #192630, transparent 50%),
            radial-gradient(circle at right bottom, #211427, transparent 65%);
    }
}

@keyframes wing-left {
    from {
        transform: rotate(-60deg) translateY(30%);
        opacity: 0;
    }
    to {
        transform: rotate(0) translateY(0);
        opacity: 1;
    }
}

@keyframes wing-right {
    from {
        transform: rotate(60deg) translateY(30%);
        opacity: 0;
    }
    to {
        transform: rotate(0) translateY(0);
        opacity: 1;
    }
}

// @keyframes wing-right {